*{
  font-family: Helvetica,Arial, sans-serif;
  -webkit-user-select: none;  /* Chrome all / Safari all */
 // user-select: none;
}

/* PRIME NG PERSONALIZE */
body{
  background: #F8F8F8;

  .ui-menu{
    width: 100%;
    border:none !important;
    .ui-menuitem-icon{

    }
  }

  .ui-state-active{
    background-color: $light-gray;
  }

  .ui-dialog .ui-dialog-titlebar{
    /* background: #4caf50 !important; */
    background: #EEE !important;
    border: none;
    box-shadow: none;
    border-radius: 0;
    text-transform: uppercase;

    span{
      color:#222 !important;
    }

  }

  .dialog-overflow {
    .ui-dialog-content{
      overflow-y: auto !important;

      @media (min-device-height: 699px) {
        max-height: 500px !important;
      }

      @media (min-device-height: 799px) {
        max-height: 600px !important;
      }

      @media (min-device-height: 899px) {
        max-height: 700px !important;
      }

      @media (min-device-height: 999px) {
        max-height: 800px !important;
      }

      @media (min-device-height: 1099px) {
        max-height: 900px !important;
      }

      @media (min-device-height: 1199px) {
        max-height: 1000px !important;
      }

      @media (min-device-height: 1299px) {
        max-height: 1100px !important;
      }

      @media (min-device-height: 1399px) {
        max-height: 1200px !important;
      }

      @media (min-device-height: 1499px) {
        max-height: 1300px !important;
      }
    }
  }

 // max-device-height: 799px

  .ui-inputtext, body .ui-dropdown{
    border-radius: 0;

  }

  .has-error input, .has-error textarea, .has-error .ui-dropdown-label-container {
    border-color: #f44336 !important;
  }

  .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active{
    background: #CCC !important ;
    color:#555 !important;
  }

}

a:hover .ui-card {
  background-color: $light-gray;
}


@media print {

  #container-menu{
    display: none;
  }

  body{
    background: white;

    table{
      button{
        display: none;
      }
    }

    .ui-toolbar{
      display: none;
    }

  }

  #container-conteudo{
    padding: 0;
    margin: 17pt;
  }



}

