<form (ngSubmit)="formSubmit()" >
  <div>
    <h2>Backup</h2>
    <app-form-input label="Frequência">
      <p-dropdown [options]="optionsFrequencia" [(ngModel)]="frequencia" [ngModelOptions]="{standalone: true}"></p-dropdown>
      <p-button type="button" label="Realizar Backup" icon="pi pi-save" styleClass="ml-2 ui-button-secondary" (onClick)="executarBackup()"></p-button>
    </app-form-input>

    <p>Ultimo Backup: <i>{{ this.statusBackup?.backup.created_at | date}}</i></p>

  </div>

  <div class="mb-2">
    <h2>Importação</h2>

    <p-button type="button" label="Estudantes" icon="pi pi-upload" styleClass="ui-button-secondary" (onClick)="showModalFormImport()"></p-button>

  </div>

  <p-button type="submit" label="Salvar"></p-button>

</form>

