
<div *ngIf="caixa; else naoAberto">


  <div class="mb-2">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <h3 class="m-0"  style="padding: 5px 0px">
          Caixa Livre  <span class="text-muted">{{ hoje | date }}</span>
        </h3>
      </div>

      <div class="ui-toolbar-group-right">

        <p-button label="Histórico" icon="pi pi-clock" styleClass="ml-1" (onClick)="showModalHistorico()"></p-button>

        <i class="ui-toolbar-separator pi pi-ellipsis-v" style="vertical-align: middle"></i>

        <p-button type="button" icon="pi pi-lock" label="Fechar o Caixa" styleClass="ui-button-warning"   (onClick)="showModalFecharCaixa()" title="Fechar o Caixa" ></p-button>

      </div>
    </p-toolbar>
  </div>

  <div class="p-grid">
    <div class="p-col-6">

      <div class="p-grid">
        <div class="p-col">

            <p-table
              [columns]="cols"
              [value]="produtos"
              [paginator]="paginacao?.perPage < paginacao?.total"
              [rows]="paginacao?.perPage"
              [totalRecords]="paginacao?.total"
              [lazy]="true"
              [rowHover]="true"
              (onLazyLoad)="loadLazy($event)"
              [loading]="loadingTable"
            >
              <ng-template pTemplate="caption">
                Produtos da Cantina
              </ng-template>

              <ng-template pTemplate="header">
                <tr class="text-left">
                  <th *ngFor="let col of cols" [ngStyle]="{ 'width': col.width }">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-produto>
                <tr [pSelectableRow]="produto">
                  <td>{{ produto?.nome }}</td>
                  <td class="text-success">{{ produto?.preco | currency:'BRL':true }}</td>
                  <td>
                    <p-button type="button" icon="pi pi-plus" (click)="addItem(produto)"></p-button>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="summary">
                {{ "Total de Produtos: " + paginacao?.total }}
              </ng-template>

            </p-table>


        </div>
      </div>

    </div>

    <div class="p-col-6">
      <p-panel header="Venda">

        <div class="mb-1">
          <p-fieldset legend="Cesta">
            <app-cesta></app-cesta>
          </p-fieldset>
        </div>


        <div class="mb-1">
          <p-fieldset legend="Forma de Pagamento">

            <div *ngIf="cliente" class="mb-1 jumbotron uppercase">
              <p><b>Nome:</b> {{ cliente?.nome }}</p>
              <p><b>Funcão:</b> {{ cliente?.funcao }}</p>
            </div>

            <div *ngIf="pagamento === 'vista'" class="mb-2 p-1 jumbotron uppercase">
              <div class="p-grid">
                <div class="p-col-6">
                  <app-form-input label="Dinheiro">
                    <input type="text" class="input-lg" [(ngModel)]="dinheiro" currencyMask pInputText/>
                  </app-form-input>
                </div>

                <div class="p-col-6">
                  <label class="font-bold">Troco</label>
                  <h2 [ngClass]="{ 'text-success' : troco() > 0, 'text-danger' : troco() < 0 } ">
                    {{ troco() | currency:'BRL':true }}
                  </h2>
                </div>
              </div>
            </div>

            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-lg-7">
                <div>
                  <a class="item-pagamento" *ngFor="let item of formasDePagamento" (click)="item.command(item)" >
                    <span [class]="item.icon"></span>
                    <p-radioButton [label]="item.label" [value]="item.value" [(ngModel)]="pagamento"></p-radioButton>
                  </a>
                </div>
              </div>

              <div class="p-col-12 p-md-6 p-lg-5">
                <div>
                  <p-button label="Confirmar (ENTER)" styleClass="ui-button-success w-100 p-2" (onClick)="confirmar()" [disabled]="!hasValid() || submit"></p-button>
                </div>
              </div>
            </div>

          </p-fieldset>
          <div class="mt-1">
            <button pButton label="Cancelar (ESC)" class="ui-button-secondary" (click)="clear()" [disabled]="!hasValid()"></button>
          </div>
        </div>

      </p-panel>


    </div>
  </div>
</div>

<ng-template #naoAberto>
  <div *ngIf="verificado !== false; else verificando">
    <p class="text-center">
      <img style="width: 100px" src="assets/images/svg/payment-terminal.svg"/>
    </p>
    <h2 class="text-center mb-5">O Caixa ainda não foi aberto para essa Data</h2>
    <p class="text-center">
      <p-button label="Abrir Caixa" styleClass="p-1" (onClick)="showModalAbrirCaixa()"></p-button>
    </p>
  </div>

  <ng-template #verificando>
    <div class="text-center">
      <p-progressSpinner></p-progressSpinner>
      <p>Verificando</p>
    </div>
  </ng-template>

</ng-template>
