
<div class="mb-2">
  <p-toolbar>
    <div class="ui-toolbar-group-left" *ngIf="acessoService.isPermitido()">
      <button pButton type="button" icon="pi pi-plus" label="Novo" class="ui-button-primary" (click)="showModalFormCadastro()"></button>
    </div>

    <div class="ui-toolbar-group-right">
      <div class="ui-inputgroup" style="display: inline-block;">
        <p-autoComplete placeholder="nome do usuáro" field="name" [suggestions]="results" (onSelect)="selectSearchUsuario($event)" (completeMethod)="search($event)"></p-autoComplete>
        <span class="ui-inputgroup-addon"><i class="pi pi-search"></i></span>
      </div>
    </div>
  </p-toolbar>
</div>

<p-table
  [columns]="cols"
  [value]="users"
  [paginator]="paginacao?.perPage < paginacao?.total"
  [rows]="paginacao?.perPage"
  [totalRecords]="paginacao?.total"
  [lazy]="true"
  (onLazyLoad)="loadLazy($event)"
  (onRowSelect)="onRowSelect($event)"
  selectionMode="single"
  dataKey="id"
  [loading]="tableLoading">

  <ng-template pTemplate="caption">Usuarios</ng-template>

  <ng-template pTemplate="header">
    <tr class="text-left">
      <th *ngFor="let col of cols" [ngStyle]="{ 'width': col.width }">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr [pSelectableRow]="user">
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.nivel}}</td>
      <td>
        <p-button [disabled]="acessoService.isNegado()" styleClass="ui-button-secondary" (onClick)="excluir(user)" icon="pi pi-trash"></p-button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    <span *ngIf="paginacao">
      {{ "Total de Usuarios: " + paginacao?.total }}
    </span>
  </ng-template>

</p-table>
