<p-table
  [value]="caixas"
  [paginator]="paginacao?.perPage < paginacao?.total"
  [rows]="paginacao?.perPage"
  [totalRecords]="paginacao?.total"
  [lazy]="true"
  (onLazyLoad)="loadLazy($event)"
  (onRowSelect)="onRowSelect($event)"
  selectionMode="single"
  dataKey="id"
  [loading]="loadingTable"
>
  <ng-template pTemplate="caption">
    Caixas
  </ng-template>

  <ng-template pTemplate="header">
    <tr class="text-left">
      <th class="ui-p-1">Aberto em</th>
      <th class="ui-p-1">Fechado em</th>
      <th class="ui-p-2">Operador</th>
      <th class="ui-p-3">Suprimento</th>
      <th class="ui-p-4">Total a Vista</th>
      <th class="ui-p-4">Total a Prazo</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-caixa let-expanded="expanded" let-columns="cols">
    <tr [pSelectableRow]="caixa">
      <td class="ui-p-1">{{ caixa?.dataAbertura | date: 'short'}}</td>
      <td class="ui-p-1">
        <div *ngIf="caixa?.dataFechamento; else aberto">
          {{ caixa?.dataFechamento | date: 'short'}}
        </div>

        <ng-template #aberto>
          <p-button styleClass="ui-button-warning" label="Fechar este Caixa" (onClick)="fecharCaixa(caixa)"></p-button>
        </ng-template>
      </td>
      <td class="ui-p-2">{{ caixa?.userAbertura.name }}</td>
      <td class="ui-p-3">{{ caixa?.suprimento | currency:'BRL':true }}</td>
      <td class="ui-p-4 text-success">{{ caixa?.totalAvista | currency:'BRL':true }}</td>
      <td class="ui-p-4 text-warning">{{ caixa?.totalAprazo | currency:'BRL':true }}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    <span *ngIf="paginacao?.total">
      {{ "Total de Vendas: " + paginacao?.total }}
    </span>
  </ng-template>

</p-table>

