<div class="mb-2">
  <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button *ngIf="acessoService.isPermitido()" pButton type="button" icon="pi pi-plus" label="Novo" class="ui-button-primary" (click)="showModalFormCadastro()"></button>
      </div>

      <div class="ui-toolbar-group-right">
        <p-dropdown placeholder="Ano Letivo" [options]="anos" (onChange)="selectAnoLetivo($event)"></p-dropdown>
      </div>
  </p-toolbar>
</div>

<ng-container>
  <p-table
    [value]="turmas"
    [lazy]="true"
    (onLazyLoad)="loadLazy($event)"
    (onRowSelect)="onRowSelect($event)"
    (onRowReorder)="reorderTurmas($event)"
    selectionMode="single"
    dataKey="id"
    [loading]="tableLoading"
    [reorderableColumns]="true">

    <ng-template pTemplate="caption">
      Turmas de {{ ano }}
    </ng-template>

    <ng-template pTemplate="header">
      <tr class="text-left">
        <th class="ui-p-1" style="width: 45px;" pReorderableColumn></th>
        <th class="ui-p-1">Nome</th>
        <th class="ui-p-2">Turno</th>
        <th class="ui-p-2">Total</th>
        <th class="ui-p-1" style="width: 58px;"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-turma let-index="rowIndex">
      <tr [pSelectableRow]="turma" [pReorderableRow]="index">
        <td class="ui-p-1">
          <i title="Mover" class="pi pi-bars" pReorderableRowHandle></i>
        </td>
        <td class="ui-p-1">{{ turma.nome }}</td>
        <td class="ui-p-2">{{ getNomeTurno(turma.turno) }}</td>
        <td class="ui-p-2">{{ turma.total }}</td>
        <td class="ui-p-1">
          <p-button [disabled]="acessoService.isNegado()" styleClass="ui-button-secondary" (onClick)="excluir(turma)" icon="pi pi-trash"></p-button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      {{ "Turmas: " + turmas?.length + " - Estudantes: " + totalEstudante() }}
    </ng-template>

  </p-table>
</ng-container>
