<form [formGroup]="formEstudante" (ngSubmit)="formSubmit()">
  <p-tabView>

    <!--  TAB 1 -->
    <p-tabPanel header="Dados Pessoais">
      <div class="p-grid">
        <div class="p-col-6">

          <div class="">
            <app-form-input label="Nome">
              <input class="w-100" type="text" formControlName="nome" pInputText>
            </app-form-input>
          </div>
          <div class="">
            <label class="d-block font-bold mb-1">Data de Nascimento</label>
            <app-form-input-data [disabled]="acessoService.isNegado()" [data]="dataNascimento" [dataString]="true" (selectData)="setDataNacimento($event)"></app-form-input-data>
          </div>

          <div class="p-grid">
            <div class="p-col-6">
              <app-form-input label="E-mail">
                <input class="w-100" type="text" formControlName="email" pInputText>
              </app-form-input>
            </div>

            <div class="p-col-6">
              <app-form-input label="Celular">
                <p-inputMask styleClass="w-100"  type="tel" mask="(99)99999-9999" unmask="true" autoClear="true" formControlName="celular" characterPattern="[0-9]"></p-inputMask>
              </app-form-input>
            </div>

            <div class="p-col-6">
              <app-form-input label="Turma">
                <p-dropdown label="Selecione" styleClass="w-100" [options]="turmasSelect" formControlName="turmaId"></p-dropdown>
              </app-form-input>
            </div>

            <div class="p-col-6">
              <app-form-input label="Situação">
                <p-dropdown label="Selecione" styleClass="w-100" [options]="situacaoSelect" formControlName="situacao"></p-dropdown>
              </app-form-input>
            </div>

            <div class="p-col-6">
              <label class="d-block mb-1">Sexo: </label>
              <span class="mr-2">
                <p-radioButton label="Masculino" name="sexo" value="m" formControlName="sexo"></p-radioButton>
              </span>
              <span>
                <p-radioButton label="Feminino" name="sexo" value="f" formControlName="sexo"></p-radioButton>
              </span>
            </div>
          </div>

        </div>
      </div>
    </p-tabPanel>

    <!--  TAB 2 -->
    <p-tabPanel header="Passaportes">
        <div formArrayName="passaportes" *ngFor="let item of getFormArrayPassaportes().controls; let i = index;">

          <div class="mb-1" [formGroupName]="i">
            <div class="p-grid">
              <div class="p-col-6">
                <app-form-input label="Login">
                  <input class="w-100" type="text" formControlName="login" pInputText>
                </app-form-input>
              </div>
              <div class="p-col-5">

                <app-form-input label="Senha">
                  <input id="password" class="w-100" type="password" formControlName="senha" appPassword pInputText>
                </app-form-input>

              </div>

              <div class="p-col-1">
                <div *ngIf="countItemsPassaportes() === (i+1) && numMaxPassaports > (i+1); else btnRemove">
                  <div style="margin-top: 25px; float: right;">
                    <p-button type="button" icon="pi pi-plus" [disabled]="acessoService.isNegado()" (onClick)="addItemPassaportes()"></p-button>
                  </div>
                </div>

                <ng-template #btnRemove>
                  <div style="margin-top: 25px; float: right;">
                    <p-button type="button" icon="pi pi-minus" [disabled]="acessoService.isNegado()" styleClass="ui-button-secondary" (onClick)="removeItemPassaportes(i)"></p-button>
                  </div>
                </ng-template>
              </div>
            </div>

            <div>
              <span *ngFor="let item of tiposPassaportes" class="mr-1" >
                <p-radioButton [name]="i" [label]="item.label" [value]="item.value" formControlName="tipo"></p-radioButton>
              </span>
            </div>
          </div>

        </div>
    </p-tabPanel>

    <!--  TAB 3 -->
    <p-tabPanel *ngIf="estudante" header="Cantina">

      <app-compras-cantina [estudanteId]="estudante?.id" ></app-compras-cantina>

    </p-tabPanel>

  </p-tabView>

  <div class="mt-1">
    <p-button *ngIf="acessoService.isPermitido()" type="submit" [label]="estudante ? 'Atualizar' : 'Salvar'" [disabled]="submit"></p-button>
  </div>

</form>
