<p-tabView>

  <!--  TAB 1 -->
  <p-tabPanel header="Dados Pessoais">
    <form [formGroup]="formEstudante" (ngSubmit)="formSubmit()">
      <div class="p-grid">
        <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">

          <app-form-input label="Nome">
            <input class="w-100" type="text" formControlName="nome" pInputText>
          </app-form-input>

          <div class="">
            <label class="d-block font-bold mb-1">Data de Nascimento</label>
            <app-form-input-data [disabled]="acessoService.isNegado()" [data]="dataNascimento" [dataString]="true" (selectData)="setDataNacimento($event)"></app-form-input-data>
          </div>

          <div class="p-grid">
            <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
              <app-form-input label="E-mail">
                <input class="w-100" type="text" formControlName="email" pInputText>
              </app-form-input>
            </div>

            <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
              <app-form-input label="Celular">
                <p-inputMask styleClass="w-100"  type="tel" mask="(99)99999-9999" unmask="true" autoClear="true" formControlName="celular" characterPattern="[0-9]"></p-inputMask>
              </app-form-input>
            </div>

            <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
              <app-form-input label="Turma">
                <p-dropdown label="Selecione" styleClass="w-100" [options]="turmasSelect" formControlName="turmaId"></p-dropdown>
              </app-form-input>
            </div>

            <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
              <app-form-input label="Situação">
                <p-dropdown label="Selecione" styleClass="w-100" [options]="situacaoSelect" formControlName="situacao"></p-dropdown>
              </app-form-input>
            </div>

            <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
              <label class="d-block mb-1">Sexo: </label>
              <span class="mr-2">
                <p-radioButton label="Masculino" name="sexo" value="m" formControlName="sexo"></p-radioButton>
              </span>
              <span>
                <p-radioButton label="Feminino" name="sexo" value="f" formControlName="sexo"></p-radioButton>
              </span>
            </div>
          </div>

        </div>
      </div>

      <p-button *ngIf="acessoService.isPermitido()" type="submit" [label]="estudante ? 'Atualizar' : 'Salvar'" [disabled]="submit"></p-button>

    </form>
  </p-tabPanel>

  <!--  TAB 2 -->
  <p-tabPanel header="Passaportes" *ngIf="estudante">
    <app-form-cadastro-passaportes [estudante]="estudante"></app-form-cadastro-passaportes>
  </p-tabPanel>

  <!--  TAB 3 -->
  <p-tabPanel *ngIf="estudante" header="Cantina">
    <app-compras-cantina [estudanteId]="estudante?.id" ></app-compras-cantina>
  </p-tabPanel>

</p-tabView>
