@import './../assets/scss/variable';

#container-menu{
  width: 200px;
  height:100%;
  position: fixed;
  top:0;
  left: 0;
  padding: 0px;
  box-sizing: border-box;
  border-right:solid 1px #DDD !important;
}
#container-conteudo{
  padding: 20px;
  margin-left: 200px;
}
#container-menu #logo{
  padding: 10px 10px;
  border-bottom: solid 1px darken($indigo, 10%);
  img{
    width: auto;
    max-height: 36px;
    max-width: 100%;
    height: auto;
  }
}
#container-menu .app-menubar{
  width: 100%;
  height:100%;
  background-color: #FFF !important;
}
#container-menu .ui-menu{
  border:none !important;
  border-radius:0 !important;
}
