
<div class="mb-2">
  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <button pButton type="button" icon="pi pi-plus" label="Novo" class="ui-button-primary" (click)="showModalFormCadastro()"></button>
    </div>

    <div class="ui-toolbar-group-right">
      <div class="ui-inputgroup" style="display: inline-block;">
        <p-autoComplete placeholder="Nome" field="nome" [suggestions]="results" (onSelect)="selectSearch($event)" (completeMethod)="search($event)"></p-autoComplete>
        <span class="ui-inputgroup-addon"><i class="pi pi-search"></i></span>
      </div>
    </div>
  </p-toolbar>
</div>

<ng-container>
  <p-table
    [value]="funcionarios"
    [paginator]="paginacao?.perPage < paginacao?.total"
    [rows]="paginacao?.perPage"
    [totalRecords]="paginacao?.total"
    [lazy]="true"
    (onLazyLoad)="loadLazy($event)"
    (onRowSelect)="onRowSelect($event)"
    selectionMode="single"
    dataKey="id"
    [loading]="tableLoading">

    <ng-template pTemplate="caption">
      {{ title }}
    </ng-template>

    <ng-template pTemplate="header">
      <tr class="text-left">
        <th class="ui-p-1">Nome</th>
        <th class="ui-p-2">Data Nascimento</th>
        <th class="ui-p-3">Situação</th>
        <th class="ui-p-2">Sexo</th>
        <th style="width: 58px;" class="ui-p-1"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-funcionario>
      <tr [pSelectableRow]="funcionario">
        <td class="ui-p-1">{{ funcionario?.nome | uppercase }}</td>
        <td class="ui-p-2">{{ funcionario?.dataNascimento | date:'shortDate' }}</td>
        <td class="ui-p-3">
          {{ funcionario.situacao | uppercase  }}
        </td>
        <td class="ui-p-2 text-center">{{ funcionario?.sexo | uppercase }}</td>
        <td class="ui-p-1">
          <p-button styleClass="ui-button-secondary" (onClick)="excluir(funcionario)" icon="pi pi-trash"></p-button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <span *ngIf="paginacao">
        {{ "Total de Funcionários: " + paginacao?.total }}
      </span>
    </ng-template>

  </p-table>
</ng-container>
