<div class="mb-2">
  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <button *ngIf="acessoService.isPermitido()" pButton type="button" icon="pi pi-plus" label="Novo" class="ui-button-primary" (click)="showModalFormCadastro()"></button>
    </div>

    <div class="ui-toolbar-group-right">
      <div class="ui-inputgroup" style="display: inline-block;">
        <p-autoComplete placeholder="nome do produto" field="nome" [suggestions]="results" (onSelect)="selectProduto($event)" (completeMethod)="search($event)"></p-autoComplete>
        <span class="ui-inputgroup-addon"><i class="pi pi-search"></i></span>
      </div>
    </div>
  </p-toolbar>
</div>

<p-table
  [value]="produtos"
  [paginator]="paginacao?.perPage < paginacao?.total"
  [rows]="paginacao?.perPage"
  [totalRecords]="paginacao?.total"
  [lazy]="true"
  (onLazyLoad)="loadLazy($event)"
  (onRowSelect)="onRowSelect($event)"
  selectionMode="single"
  dataKey="id"
  [loading]="loadingTable"
>
  <ng-template pTemplate="caption">
    Produtos da Cantina
  </ng-template>

  <ng-template pTemplate="header">
    <tr class="text-left">
      <th class="ui-p-1">Nome</th>
      <th class="ui-p-2">Categoria</th>
      <th class="ui-p-2">Preço</th>
      <th class="ui-p-2">Quantidade</th>
      <th class="ui-p-1" style="width: 60px;"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-produto let-columns="cols">
    <tr [pSelectableRow]="produto">
      <td class="ui-p-1">{{ produto?.nome | uppercase}}</td>
      <td class="ui-p-2">{{ produto?.categoria.nome | uppercase}}</td>
      <td class="ui-p-2 text-success">{{ produto?.preco | currency:'BRL':true }}</td>
      <td class="ui-p-2">{{ (produto?.estoque !== -1 ? produto?.estoque : 'ilimitado') | uppercase}}</td>
      <td class="ui-p-1">
        <p-button [disabled]="acessoService.isNegado()" icon="pi pi-trash" styleClass="ui-button-secondary" (onClick)="excluirProduto(produto)"></p-button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    <span *ngIf="paginacao?.total">
      {{ "Total de Produtos: " + paginacao?.total }}
    </span>
  </ng-template>

</p-table>

